* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    background-color: hsl(210, 0%, 60%);
    color: white;
    margin-bottom: 20px;
}

header > .container > * {
    display: inline-block;
}

.hero {
    text-align: center;
}
.hero h1 {
    font-size: 40px;
}

section, .section {
    display: block;
    border: 1px solid #999;
    border-radius: 3px;
    margin-bottom: 20px;
}
.v-sections {
    display: flex;
    align-items: flex-start;
}
.v-sections section {
    flex-grow: 1;
    margin-bottom: 0;
    margin-right: 20px;
}
section:last-child {
    margin: 0;
}
section > *, .section > * {
    padding: 20px;
    margin: 0;
    border-bottom: 1px solid #999;
}
section > :last-child, .section > :last-child {
    border: none;
}

.focus-within {
    background-color: hsla(210, 90%, 50%, 0.4);
}
:focus {
    background-color: hsla(210, 90%, 50%, 1);
    color: white !important;
}

.menu {
    background-color: white;
    border: 1px solid #999;
    color: black;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    display: block;
    list-style-type: none;
    margin: 0;
}
li > * {
    display: block;
    padding: 10px;
}

.menu[spatnav-direction="row"] li {
    float: left;
}
.pull-right {
    float: right;
}
.pull-right a {
    padding: 5px;
}
